<div class="footer">
  <div class="footer-links">
      <%= link_to "Home", root_path %>
      <%= link_to "See jobs", jobs_path %>
      <%= link_to "Create job", new_job_path %>
  </div>
  <div class="footer-social-links">
    <ul>
        <li><a href="https://r.mtdv.me/NgVncIdipx" target="blank">
            <i class="fab fa-facebook-f"></i>
      </a>
    </li><li>
      <a href="https://r.mtdv.me/NgVncIdipx" target="blank">
        <i class="fab fa-linkedin-in"></i>
          </a></li>
    <li>  <a href="https://r.mtdv.me/NgVncIdipx" target="blank">
      <i class="fab fa-twitter"></i>
        </a>
      </li>
        </ul>
  </div>
  <div class="footer-text">
    <%= "Made with ❤️ by the team behind OffChangeX" %>
  </div>
</div>

