<div class="footer">
  <div class="footer-links">
      <%= link_to "Home", root_path %>
      <%= link_to "See jobs", jobs_path %>
      <%= link_to "Create job", new_job_path %>
    </div>
  <div class="footer-text">
    <%= "Made with ❤️ by the team behind OffChangeX" %>
  </div>
</div>
