<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Review ID: <%= review.id %></h5>
    <p class="card-text">Description: <%= review.description %></p>
    <p class="card-text"><%= review.rating %></p>
  </div>
</div>
