<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title fw-bold"><%= review.title %></h5><em>For <%= link_to review.booking.job.title, job_path(review.booking.job) %></em>
    <p class="card-text"><%= review.description %></p>
    <div class="stars">
      <% 5.times do |i| %>
        <% if i < review.rating %>
          <i class="fas fa-star filled"></i> <!-- Filled star -->
        <% else %>
          <i class="far fa-star"></i> <!-- Empty star -->
        <% end %>
      <% end %>
  </div>
</div>
