<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>SEAT SWAP</title>
</head>
<body>
  <header>
    <div class="container">
      <h1>Job Rental</h1>
      <nav>
        <ul>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="hero">
    <div class="container">
      <h2>Rent Jobs and experience a different lifestyle </h2>
      <p>Explore exciting job swaps and experience working in various roles.</p>
      <a href="/jobs" class="btn">Browse Jobs</a>
    </div>
  </section>

  <footer id="contact">
    <div class="container">
      <h2>Contact Us</h2>
      <p>Reach out to us</p>
      <a href="mailto:info@seatswap.com">info@seatswap.com</a>
    </div>
  </footer>

</body>
</html>
