.completed{
  box-shadow: 2px 2px 5px green;
  border: 1px solid green;
  border-radius: 15px;
}

.cancelled{
  box-shadow: 2px 2px 5px red;
  border: 1px solid red;
  border-radius: 15px;
}

.overlay2{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: red;
  border-radius: 15px;
}
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: green;
  border-radius: 15px;
}

.card-body:hover .overlay1 {
  opacity: 0.6;
}

.card-body:hover .overlay2 {
  opacity: 0.6;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    font-weight: bold;
  }
}

.pending {
  box-shadow: 2px 2px 5px orange;
  border: 1px solid orange;
  border-radius: 15px;
}

.booked {
  box-shadow: 2px 2px 5px lightseagreen;
  border: 1px solid lightseagreen;
  border-radius: 15px;
}
