.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: auto; /* Maintain the aspect ratio */
  width: 50%; /* Example percentage width */
  max-width: 200px; /* Maximum size */
  min-width: 100px; /* Minimum size */
}
