.tab-container {
  text-align: center;
}

.tab {
  display: inline-block;
  margin: 0 10px; /* Adjust margin as needed */
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-bottom: none;
}


.tab-content {
  border: 1px solid transparent;
  padding: 10px;
  display: none;
}

.active-tab {
  background-color: #eee;
}
